Repository gerardcastell/fastapi-react-assets: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest, eslint, prettier

.pre-commit-config.yaml:

# Pre-commit configuration for monorepo (FastAPI + React)
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # File checks
      - id: trailing-whitespace
        description: Remove trailing whitespace
      - id: end-of-file-fixer
        description: Ensure files end with a newline
      - id: check-yaml
        description: Check YAML syntax
        args: ['--unsafe'] # Allow custom YAML tags
      - id: check-json
        description: Check JSON syntax
      - id: check-toml
        description: Check TOML syntax
      - id: check-xml
        description: Check XML syntax
      - id: check-merge-conflict
        description: Check for merge conflict markers
      - id: check-case-conflict
        description: Check for case conflicts in filenames
      - id: check-added-large-files
        description: Prevent large files from being committed
        args: ['--maxkb=1000'] # 1MB limit

      # Security checks
      - id: detect-private-key
        description: Detect private keys in files

      # Git hooks
      - id: check-merge-conflict
        description: Check for merge conflict markers
      - id: mixed-line-ending
        description: Ensure consistent line endings
        args: ['--fix=lf'] # Use LF line endings

      # Documentation
      - id: check-docstring-first
        description: Check that docstrings are at the top of files

  # Python-specific hooks (backend only)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        description: Run Ruff linter
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        description: Run Ruff formatter
        files: ^backend/

  # Type checking (backend only)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && mypy --config-file=pyproject.toml --explicit-package-bases .'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false
        require_serial: true

  # Testing (backend only)
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: bash -c 'cd backend && uv run pytest tests/ -v'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false
        require_serial: true

  # Frontend hooks
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint:fix'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false
      - id: prettier
        name: Prettier
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/
        pass_filenames: false

  # Commit message linting
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.9.1
    hooks:
      - id: commitizen
        description: Check commit message format
        stages: [commit-msg]

# Configuration
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: '3.0.0'

fix(prettier): ensure HTML files are ignored in Prettier configuration
  frontend/.prettierignore
Due: prettier

feat(frontend): implement asset management UI with forms, validation, and routing; add layout and header components
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/design-system/Header.tsx
  frontend/src/design-system/LayoutPage.tsx
  frontend/src/design-system/form/TextField.tsx
  frontend/src/features/assets/ui/create-assets/AssetForm.tsx
  frontend/src/features/assets/ui/create-assets/CreateAssetsForm.tsx
  frontend/src/features/assets/ui/create-assets/schemas.ts
  frontend/src/index.css
  frontend/src/pages/AssetFormPage.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/router/Router.tsx
Due: eslint, prettier

feat(assets): implement services for asset management, including creation of asset lists and retrieval of average interest rates; add Axios HTTP client for API interactions
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/assets/application/create-assets-list.service.ts
  frontend/src/features/assets/application/get-average-interest-rate.service.ts
  frontend/src/features/assets/domain/entities/asset.entity.ts
  frontend/src/features/assets/domain/entities/average-interest-rate.entity.ts
  frontend/src/features/assets/domain/repository/assets-list.repository.ts
  frontend/src/features/assets/infrastructure/api/get-average-interest-rate.ts
  frontend/src/features/assets/infrastructure/api/post-assets.ts
  frontend/src/features/assets/infrastructure/repositories/assets-list-api.repository.ts
  frontend/src/shared/external-lib/axios/index.ts
  frontend/src/shared/http/client.interface.ts
Due: eslint, prettier

feat(frontend): add asset creation form with validation, integrate React Query and Toast notifications, and configure environment variables
  frontend/.env.example
  frontend/.gitignore
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/features/assets/ui/create-assets/components/AssetForm.tsx
  frontend/src/features/assets/ui/create-assets/components/CreateAssetsForm.tsx
  frontend/src/features/assets/ui/create-assets/components/schemas.ts
  frontend/src/features/assets/ui/create-assets/hooks/useCreateAssets.ts
  frontend/src/features/assets/ui/create-assets/hooks/useCreateAssetsForm.ts
  frontend/src/pages/AssetFormPage.tsx
  frontend/src/shared/config/index.ts
  frontend/src/shared/external-lib/axios/index.ts
  frontend/src/shared/external-lib/react-query/index.ts
  frontend/src/shared/external-lib/react-toastify/index.ts
Due: eslint, prettier

feat(backend): add CORS middleware configuration and update frontend API calls for consistency in asset management
  backend/app/main.py
  frontend/src/features/assets/infrastructure/api/post-assets.ts
  frontend/src/features/assets/ui/create-assets/hooks/useCreateAssetsForm.ts
Due: mypy, pytest, eslint, prettier

feat(frontend): enhance interest rate display with new components and hooks, update API calls for consistency, and improve UI layout
  frontend/src/features/assets/infrastructure/api/get-average-interest-rate.ts
  frontend/src/features/assets/ui/create-assets/hooks/useCreateAssets.ts
  frontend/src/features/assets/ui/display-interest-rate/components/InterestRateDisplay.tsx
  frontend/src/features/assets/ui/display-interest-rate/hooks/useInterestRateDisplay.ts
  frontend/src/pages/HomePage.tsx
  frontend/src/shared/external-lib/react-query/index.ts
Due: eslint, prettier

refactor(assets): update average interest rate handling to allow null values, modify related service and repository interfaces for consistency
  .vscode/settings.json
  backend/app/contexts/assets/infrastructure/api/dtos.py
  backend/app/contexts/assets/infrastructure/api/routes.py
  backend/tests/integration/assets/test_get_average_interest_rate.py
  frontend/src/App.tsx
  frontend/src/features/assets/application/get-average-interest-rate.service.ts
  frontend/src/features/assets/domain/entities/average-interest-rate.entity.ts
  frontend/src/features/assets/domain/repository/assets-list.repository.ts
  frontend/src/features/assets/infrastructure/api/get-average-interest-rate.ts
  frontend/src/features/assets/infrastructure/repositories/assets-list-api.repository.ts
Due: mypy, pytest, eslint, prettier

feat(frontend): enhance asset creation form with number input for interest rate, update validation to ensure valid numeric input, and improve code consistency
  frontend/src/features/assets/ui/create-assets/components/AssetForm.tsx
  frontend/src/features/assets/ui/create-assets/components/schemas.ts
  frontend/src/features/assets/ui/create-assets/hooks/useCreateAssets.ts
  frontend/src/features/assets/ui/create-assets/hooks/useCreateAssetsForm.ts
  frontend/src/features/assets/ui/display-interest-rate/components/InterestRateDisplay.tsx
Due: eslint, prettier

fix(assets): change interest_rate type from int to float in Asset and AssetDto classes for improved precision
  backend/app/contexts/assets/domain/entities/asset.py
  backend/app/contexts/assets/infrastructure/api/dtos.py
Due: mypy, pytest

feat(frontend): integrate Cypress for end-to-end testing, add custom commands, and implement various test cases for asset management and error handling
  frontend/.prettierignore
  frontend/cypress.config.ts
  frontend/cypress/.gitignore
  frontend/cypress/README.md
  frontend/cypress/e2e/create-assets.cy.ts
  frontend/cypress/e2e/error-handling.cy.ts
  frontend/cypress/e2e/full-user-flow.cy.ts
  frontend/cypress/e2e/home-page.cy.ts
  frontend/cypress/e2e/interest-rate-display.cy.ts
  frontend/cypress/fixtures/example.json
  frontend/cypress/support/commands.ts
  frontend/cypress/support/e2e.ts
  frontend/cypress/tsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/assets/ui/display-interest-rate/components/InterestRateDisplay.tsx
  frontend/src/features/assets/ui/display-interest-rate/hooks/useInterestRateDisplay.ts
  frontend/src/pages/CreateAssetsPage.tsx
  frontend/src/router/Router.tsx
Due: eslint, prettier

feat(assets): handling duplicate asset IDs and validation errors + tests
  backend/app/contexts/assets/domain/entities/assets_list.py
  backend/app/contexts/assets/domain/entities/errors.py
  backend/app/contexts/assets/infrastructure/api/routes.py
  backend/tests/integration/assets/test_save_assets_list.py
  backend/tests/unit/assets/application/test_save_assets_list.py
  frontend/cypress/e2e/create-assets.cy.ts
Due: mypy, pytest, eslint, prettier

refactor(frontend): restructure design system components
  frontend/src/App.tsx
  frontend/src/features/assets/ui/create-assets/components/AssetForm.tsx
  frontend/src/shared/design-system/Header.tsx
  frontend/src/shared/design-system/LayoutPage.tsx
  frontend/src/shared/design-system/form/TextField.tsx
Due: eslint, prettier

feat(docs): update README to reflect project name change to Financial Assets Manager, enhance architecture overview, core features, technology stack, and setup instructions
  README.md
Due: none
